/* Stylesheet - Henry Wallis: Chess Tutor */

/* CHESS TUTOR: POWERED BY
> https://github.com/exoticorn/stockfish-js  
> https://github.com/oakmac/chessboardjs
*/

@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

*:hover {
	transition: all 0.3s ease 0s;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	height: 100%;
	/* background: #F8F4F1; */
}

a {
	text-decoration: none;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	color: #29221f;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: 700;
}

a:hover {
	color: #08A842;
}
/* Button Sets */
.button {

	color: #29221f;
	border: 1px solid #000;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 36px;
	padding: 8px 15px 8px 15px;
	height: 35px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}

.button:hover {
	color: #fff;
	background: #08A842;
	border: 1px solid #08A842;
}

.button2 {
	color: #fff;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-size: 1.3em;
	text-align: center;
	line-height: 36px;
	padding: 4px 15px 4px 15px;
	height: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

.button2:hover {
	color: #fff;
	background: #08A842;
	border: 1px solid #08A842 !important;
}

.buttonText {
	color: #29221f;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: underline;
	transition: all 0.3s ease 0s;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.buttonText:hover {
	color: #08A842;
}

/* Button Sets end */



#logoMain {

	display:block;
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 100%;
	background-image: url("../img/logo-chess.png");
	width: 118px;
	height: 84px;

}

.headerContainer {
	width: 98%;
	min-width: 1136px;
}

.social-Icons {
	display: inline-block;
	position: absolute;
	top: 22px;
	right: 1%;
}

.social-Icon {
	display: inline-block;
	margin: -5px 14px;
}

.social-Icon a {
	display: block;
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 100%;
	width: 20px;
	height: 20px;
}

#Fb {
	background-image: url("../img/social/facebook.svg");
}

#Fb:hover {
	background-image: url("../img/social/facebook1.png");
}

#Tw {
	background-image: url("../img/social/twitter.svg");
	transition: all 0.3s ease 0s;
}

#Tw:hover {
	background-image: url("../img/social/twitter1.png");
}

#Gp {
	background-image: url("../img/social/gplus.svg");
	transition: all 0.3s ease 0s;
}

#Gp:hover {
	background-image: url("../img/social/gplus1.png");
}

.footerNav {
	display: inline-block;
	position: relative;
	left: -21px;
}

.footerNav li {
	display: inline-block;
	margin: 0 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;

}

.mainHeadTop {
	width: 100%;
	margin: 0;
	padding: 0 0 25px 0;
	height: 90px;
	background-color: #fff;
	border-bottom: 1px solid #E4E4E4;
	z-index: 10;
	position: fixed;
	top: 0;
    min-width: 1136px;      
}

#logoMain {
	position: relative;
	left: 47.68%;
}



.navItems ul {
	margin: 0;
	width: 200px;
}

.navItems {
	position: relative;
	top: 46px;
}

.navItems ul li {
	display: inline;
	margin-left: 12px;
}


.headerBanner#bannerIndex {
	background: url(../img/background_banner2.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}

.headerBanner#bannerPlay {
	background: url(../img/background_banner3.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}

.bannerItems {
	position: absolute;
	width: 100%;
	bottom: 36%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.bannerItems h1 {
	line-height: 1.3em;
	font-size: 50px;
	font-family: 'Palanquin Dark', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.bannerItems .button2 {
	margin: 14px;
}

.bannerButton {
	position: relative;
	right: 19px;
}

.wrapper {
	margin: 0 auto -155px;
    background: #fff;
    text-align: center;
    min-height: 100%;
    position: relative;
    top: 116px;
}


.textSection {
	position: relative;
	padding: 50px 0 90px 0;
	max-width: 900px;
	margin: 0 auto;
}

.textSection h3 {
	color: #333;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 25px;
	margin: 0 0 20px 0;
	text-transform: none;
}

.textSection a {
	color: #333;
	position: relative;
	left: -3px;
	font-size: 12px;
}

h2 {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 25px;
}

footer {
	border-top: 1px solid #E4E4E4;
	text-align: center;
	background: #fff;
	display: block;
	height: 90px;
}


footer p {
	font-size: 17px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px auto;
	width: 580px;
}

/* Homepage box section */

#full_background_Width {
	background-color: #F8F4F1;
}

#full_background_WidthWhite {
    background-color: #fff;
}

.boxSection{
	text-align: center;
	width: 1104px;
	margin-left: auto;
	margin-right: auto;
	height: 650px;
	background-color: #F8F4F1;
	padding-top: 50px;

}

.clearBoth {
	clear:both;
}

.boxSection .box {
	max-width: 398px;
	float: left;
	margin: 0px 15px 1px 15px;
	background-color: #fff;
	padding-bottom: 30px;
	
}

.boxSection .box img {
	height: 231px;
	width: 338px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 1;
}

.boxSection .box img:hover {
	opacity: .5;
}


.boxSection .box p {

	margin: 0px 0px 0px 35px;
	max-width: 269px;
	height: 150px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 15px;

}

.boxSection h3 {

	margin-bottom: 37px;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 25px;

}
.boxTitle {
	margin-bottom: 37px;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 19px;
	letter-spacing: 0.1em;
	text-align: left;
	margin: 20px 0px 20px 34px;
	width: 269px;

}

.box .buttonText {
	text-align: left;
	display: block;
	margin: 0px 0px 0px 34px;
	width: 120px;
}


 #chessWrap {
    height: 880px;
}

.SectionChessClass {
    text-align: center;
	width: 1104px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#board {
    position: relative;
	left: 93px;
	width: 600px !important;
	height: 600px !important;
}

#chessSection {
	height: 605px;
}


/* Homebage box section finish */

#playSectionWrap {
    background-color: #fff;
}

.playSection {
    text-align: center;
    width: 1104px;
    margin: 0px auto;
    padding: 42px 0px;
    height: auto;
    padding: 81px 0 81px 0;
}

.playSection h3 {
	color: #333;
	font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
	line-height: 1.3em;
	font-size: 25px;
	margin: 10px 0 20px 0px;

}

.playSection h4 {
    color: #555;
    text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 18px;
	margin: 10px 0px 20px 0px;
}

.playSection img {
    width: 200px;
    height: auto;
}

#boardUI {
   	background: #5C2A21 none repeat scroll 0% 0%;
	border: 2px solid #222;
	width: 300px;
	position: relative;
	bottom: 600px;
	left: 698px;
	margin: 0px;
	padding: 0px;
	height: 592px;
}

#boardUIText {
    background-color: #F6B983;
	width: 285px;
	position: relative;
	left: 5px;
	height: 335px;
	border: 2px solid #222;
	bottom: 16px;
}

p#response {
    text-align: left;
    font-family: "Open Sans",sans-serif;
    color: #222;
    height: 201px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    position: relative;
    top: 0px;
    font-size: 19px;
}

#userImage {
	width: 206px;
	padding: 12px;
	border: 2px solid rgb(34, 34, 34);
	background-color: rgb(246, 185, 131);
	margin: 0px 0px 21px;
	position: relative;
	top: 3px;
}

p#typing {
    font-family: "Open Sans",sans-serif;
	color: #222;
	height: 21px;
	margin: 0px;
	top: 84px;
	font-size: 14px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: left;
	border-top: 2px solid #222;
	position: relative;
}

.board-b72b1 {
    border: 2px solid #222 !important;
}

.chessText {
    text-transform: uppercase;
    font-family: "Josefin Sans",sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;

}

#chessTitle {
    color: #F6B983;
    font-size: 34px;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    margin-top: 0px;
}

#chessChatText {
    color: #F6B983;
    font-size: 19px;
    letter-spacing: 0.1em;
}

#chessUser {
    text-align: left;
    font-family: "Open Sans",sans-serif;
    color: #222;
    margin: 0px;
    position: relative;
    top: 0px;
    font-size: 14px;
    height: 23px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 2px solid #222;
}

#playerOnline {
    float: left;
    position: relative;
    top: 0px;
    height: 20px;
    width: 20px;
    
}

.chessboard-63f37 {
	width: 600px;
	height: 600px;
}

#chessWrap h3 {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 32px;
	margin: 20px 0px 0px 0px;
}

#chessWrap h4 {
	color: #555;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 27px;
	margin: 5px 0px 20px 0px;
	padding: 0 155px;
}

#chromeError {
	visibility: hidden;
}

/* ============= ERROR HANDLING FOR GOOGLE CHROME (BOARD NOT VISIBLE IN CHROME FOR UNKNOWN REASON) ============= */

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #boardUI{
    	bottom:0;
    	left: 651px;
    } 
    #board {
    	width: 400px;
    	background: #5C2A21;
    	height: 392px;
    	border: 2px solid #222 !important;
    }

    .chromeError {
    	visibility: visible;
    }

    .chromeError h1 {
    	position: absolute;
	    top: 37%;
	    color: #F6B983;
	    font-size: 34px;
	    letter-spacing: 0.1em;
	    margin-bottom: 5px;
	    margin-top: 0px;
    }
}

#backgroundShadow {
	background: rgba(54, 25, 25, .5);
	width: 668px;
	margin: 0 auto;
	margin-bottom: 32px;
}

#buttonShadow {
	background: rgba(54, 25, 25, .5);
}

#buttonShadow:hover {
	color: #fff;
	background: #08A842;
	border: 1px solid #08A842 !important;
}


/* ===================================END OF ERROR HANDLING FOR CHROME LOLOL  over 600 lines of CSS========================= */